<p>
  <!-- generates a URL matching the pattern(index) specified to the namespace(learning_logs)  -->
  <a href="{% url 'learning_logs:index' %}">Learning Log</a>
  <a href="{% url 'learning_logs:topics' %}">Topics</a>
</p>


<!-- template tags -->
{% block content %}{% endblock content %}

<!-- in larger projects its common to have 1 parent template called base for an entire site and parent templates for each major section -->
<!-- all the section templates inherit from base and each page in the site inherits from a section template -->